<!DOCTYPE html>
<html>
  <head>
    <title>WebRTC - Live Streaming</title>
    <script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.5/socket.io.min.js"></script>
  </head>
  <body>
    <video style="border: 1px solid black;" width="400" height="500" id="liveStream" class="videoContainer" autoplay></video>
    <script>
      const peerConnection = new RTCPeerConnection();
      var socket = io(window.location.origin);
      socket.on("screenCaptureOffer", offer => {
        console.log(offer);
        // peerConnection.setRemoteDescription(offer).then(() => {
        //   peerConnection.createAnswer().then(sdp => {
        //     peerConnection.setLocalDescription(sdp).then(() => {
        //       socket.emit("screenCaptureAnswer", peerConnection.localDescription);
        //     });
        //   });
        // });
      });

      const streamVideoWindow = document.querySelector("video#liveStream");
      peerConnection.ontrack = event => {
        console.log(event);
        streamVideoWindow.srcObject = event.streams[0];
      };
    </script>
  </body>
</html>
